* {
	vertical-align: center;
	font-family: 'Amatic SC', cursive;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

.splash {
	background: url(..//img/splash.jpg) no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 6;
}

.shade {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.7);

}

.menu {
	position: absolute;
	text-align: left;
	font-size: 25px;
	letter-spacing: 20px;
	z-index: 1;
}

.left {
	top: 15px;
	left: 15px;
	opacity: 0.5;
}

.right {
	top: 15px;
	right: 15px;
	width: 25vw;
	opacity: 0.5;
}

.pre-header {
	font-size: 25px;
	padding-top: 10vh;
}

.header {
	font-size: 255px;
	margin-top: 10vh;
}

.post {
	margin-top: 5vh;
}

.logo-img {
	border-radius: 100%;
	border: 1px solid black;
	height: 150px;
	width: 150px;
}
.logo {
	bottom: 15px;
	right: 35px;
	opacity: 0.7;
}

